<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.mapper.AttrMapper">

    <sql id="attrWhere">
        <where>
            <if test="attr.name != null and attr.name  != '' ">
                and sa.name like concat('%',#{attr.name},'%')
            </if>
        </where>
    </sql>

    <select id="queryCount" resultType="java.lang.Long">
        select count(*) from shop_attr sa
        <include refid="attrWhere"></include>
    </select>

    <select id="queryList" resultType="com.fh.model.Attr">
        select sa.*,st.name as typeName from shop_attr sa left join shop_type st on sa.typeId=st.id
        <include refid="attrWhere"></include>
        limit #{pageUtils.startIndex},#{pageUtils.size}
    </select>

    <insert id="addAttr" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into shop_attr (name, nameCH, typeId, formType, isSKU, isDel, createDate, updateDate, auther)
        values (#{name},#{nameCH},#{typeId},#{formType},#{isSKU},0,sysDate(),sysDate(),#{auther})
    </insert>

    <select id="queryAttrById" resultType="com.fh.model.Attr">
        select * from shop_attr where id=#{id}
    </select>

    <update id="updateAttr">
        update shop_attr set name=#{name},nameCH=#{nameCH},typeId=#{typeId},
        formType=#{formType},isSKU=#{isSKU},isDel=#{isDel},updateDate=sysDate()
        where id=#{id}
    </update>

</mapper>